.position-sticky {
    background-image: url("../../images/wallImage.jpg");;
    color: #ebe6e6;
    text-align: center;
    height: 100px;
    padding: 10px;
    border-top: 5px solid #4c7f7f;
    position: fixed;
    bottom: 10px;
    width: 100%;
    font-size: 16px;
}