.wrapper {
    font-family: 'Questrial', sans-serif;
    display: flex;
    background-color: rgb(177, 173, 173);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    padding-bottom: 10px;;
}

a {
    color: white;
}

a:focus {
    opacity: 50%;
}

.btn {
    background-color: #f5e675;
    color: black;
}

a:hover {
    opacity: 40%;
}

p {
    font-size: 18pt;
}

